# ONLY these are exposed to the browser
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
# NEXT_PUBLIC_TURNSTILE_SITE_KEY=
#SERVER SIDE SECRETS
RESEND_API_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_FROM_ADDRESS=
DEFAULT_USER_CREDITS=200
BACKEND_URL=http://127.0.0.1:8080
LINK_TOKEN_SECRET=
TELEGRAM_BOT_USERNAME=@Bot
TALLY_FORM_URL=